@model IEnumerable<ZGmarket.Models.Nom>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Номенклатура</h1>

<p>
    <a asp-action="Create">Добавить</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShelfLife)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShelfLife) д.
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price) руб.
            </td>
            <td class="text-danger">
                @Html.ActionLink("Редактировать", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Удалить", "Delete", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
